In [2]:
import pandas as pd

pop_loc = pd.read_csv(r"C:\Users\EdwardBarker\Downloads\pop_location.csv")

In [12]:
pop_loc = pop_loc.drop(columns=["Participant ID"])

In [16]:
pop_loc

,population_area_size,Total number of patients with AD (any stage),Total number of patients with early AD,Total number of new patients with AD dementia (any stage),Total number of new patients with early stages of AD (MCI due to AD or mild AD dementia)
0,Urban,2500,1000,400,300
1,Rural,700,250,200,110
2,Urban,2773,1183,630,329
3,Urban,720,610,420,370
4,Suburban,1500,500,500,300
5,Urban,750,300,100,50
6,Urban,436,191,130,49
7,Rural,2500,1500,200,150
8,Urban,2000,500,200,100
9,Urban,1000,400,350,300
10,Urban,2416,1551,500,400
11,Urban,130,105,130,105

In [15]:
grouped = pop_loc.groupby('population_area_size')
result = grouped.mean().round(2).astype(str) + ' ± ' + grouped.std().round(2).astype(str)
result

,Total number of patients with AD (any stage),Total number of patients with early AD,Total number of new patients with AD dementia (any stage),Total number of new patients with early stages of AD (MCI due to AD or mild AD dementia)
population_area_size,,,,
Rural,1600.0 ± 1272.79,875.0 ± 883.88,200.0 ± 0.0,130.0 ± 28.28
Suburban,1500.0 ± nan,500.0 ± nan,500.0 ± nan,300.0 ± nan
Urban,1413.89 ± 1004.54,648.89 ± 491.83,317.78 ± 187.34,222.56 ± 143.74